---
title: "Quiz 13 solution"
format: 
  html:
    toc: true
    toc-title: Contents
    toc-depth: 4
    self-contained: true
    html-math-method: mathml 
jupyter: python3
---

# Read data

# Q 

Label each code cell with the corresponding question number as a header. Feel free to add or remove cells as needed

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

spotify_data_filtered = pd.read_csv("/Users/vaibhavrangan/Downloads/Stat_303-1/Data/spotify_data.csv")
spotify_data_filtered.groupby('genres').apply(lambda x: print(type(x)) or x.sort_values('artist_popularity', ascending=False))['artist_name']

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

genres
country  2204           Morgan Wallen
         3513           Morgan Wallen
         16251          Morgan Wallen
         16250          Morgan Wallen
         16249          Morgan Wallen
                          ...
rock     121667        Eikichi Yazawa
         121666        Eikichi Yazawa
         121665        Eikichi Yazawa
         121664        Eikichi Yazawa
         123372    Tsuyoshi Nagabuchi
Name: artist_name, Length: 243190, dtype: object

In [3]:
spotify_data = pd.read_csv("/Users/vaibhavrangan/Downloads/Stat_303-1/Data/spotify_data.csv")
audio_features = spotify_data[['danceability', 'energy', 'key', 'loudness','mode','speechiness',
                               'acousticness', 'instrumentalness', 'liveness','valence', 'tempo', 'time_signature']]
audio_features.apply(lambda x: print(type(x)) or (x-x.min())/(x.max()-x.min()))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,0.681174,0.529,0.000000,0.827905,1.0,0.315789,0.077209,0.000338,0.0856,0.203,0.665242,0.8
1,0.517206,0.566,0.545455,0.827843,0.0,0.206398,0.350402,0.000000,0.3400,0.218,0.344561,0.8
2,0.707490,0.687,0.636364,0.878561,0.0,0.109391,0.309237,0.000036,0.1210,0.499,0.365217,0.8
3,0.716599,0.690,0.181818,0.859987,1.0,0.045614,0.349398,0.000000,0.2220,0.543,0.328504,0.8
4,0.762146,0.597,0.727273,0.808405,1.0,0.301342,0.047892,0.000000,0.1970,0.616,0.316200,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...
243185,0.621457,0.298,0.272727,0.768637,0.0,0.055831,0.973896,0.646000,0.0514,0.772,0.502322,0.8
243186,0.797571,0.395,0.909091,0.721135,1.0,0.310630,0.885542,0.844000,0.1240,0.676,0.465432,0.8
243187,0.533401,0.178,0.272727,0.708867,1.0,0.081837,0.992972,0.000010,0.1040,0.370,0.431581,0.8
243188,0.565789,0.266,0.000000,0.787462,1.0,0.052838,0.992972,0.847000,0.4480,0.576,0.415918,0.8
243189,0.750000,0.284,0.272727,0.778018,1.0,0.052116,0.930723,0.078800,0.0633,0.816,0.434649,0.8

In [ ]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita')
gdp_df = tables[1]

gdp_df.drop(columns='Year', level=1, inplace=True)
gdp_df.head(2)

  Country/Territory IMF[4][5] World Bank[6] United Nations[7]
  Country/Territory  Estimate      Estimate          Estimate
0            Monaco         —        240862            240535
1     Liechtenstein         —        187267            197268

In [9]:
gdp_df = gdp_df.droplevel(1, axis=1)
gdp_df.head(2)

  Country/Territory IMF[4][5] World Bank[6] United Nations[7]
0            Monaco         —        240862            240535
1     Liechtenstein         —        187267            197268

In [ ]:
gdp_columns = ['IMF[4][5]', 'World Bank[6]', 'United Nations[7]']
gdp_df[gdp_columns] = gdp_df[gdp_columns].apply(pd.to_numeric, errors = "coerce")

gdp_df.isna().sum()

Country/Territory     0
IMF[4][5]            27
World Bank[6]         6
United Nations[7]     9
dtype: int64

In [14]:
import re

column_name_cleaner = lambda x: re.split(r'\[|/', x)[0]
gdp_df.columns = gdp_df.columns.map(column_name_cleaner)

gdp_df.head(2)

         Country  IMF  World Bank  United Nations
0         Monaco  NaN    240862.0        240535.0
1  Liechtenstein  NaN    187267.0        197268.0

In [15]:
gdp_df['GDP_per_capita'] = gdp_df['United Nations'].fillna(
    gdp_df['World Bank']
).fillna(
    gdp_df['IMF']
)

gdp_df["GDP_per_capita"].isna().sum()

0

In [16]:
gdp_df = gdp_df[['Country', 'GDP_per_capita']]
gdp_df.head(2)

         Country  GDP_per_capita
0         Monaco        240535.0
1  Liechtenstein        197268.0

In [18]:
import re

country_names_clean_gdp_data = lambda x: re.sub(r'[^\w\s]', '', x).strip()

gdp_per_capita_data = gdp_df.copy()
gdp_per_capita_data['Country'] = gdp_per_capita_data['Country'].apply(country_names_clean_gdp_data)

gdp_per_capita_data.head(2)

         Country  GDP_per_capita
0         Monaco        240535.0
1  Liechtenstein        197268.0

In [22]:
tables_pop = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)")

pop_df = tables_pop[0]
pop_df = pop_df[["Country", "UN Continental Region[1]", "Population(1 July 2023)"]]
pop_df = pop_df.iloc[1:]

pop_df.head(2)

    Country UN Continental Region[1]  Population(1 July 2023)
1     India                     Asia               1438069596
2  China[a]                     Asia               1422584933

In [25]:
column_name_cleaner = lambda x:re.split(r'\[|/|\(| ', x)[0]

pop_df.columns = pop_df.columns.map(column_name_cleaner)

pop_df.head(2)

    Country    UN  Population
1     India  Asia  1438069596
2  China[a]  Asia  1422584933

In [27]:
country_names_clean_population_data = lambda x: re.sub("[\(\[].*?[\)\]]", "", x).strip()

population_data = pop_df.copy()
population_data['Country'] = population_data['Country'].apply(country_names_clean_population_data)

population_data.head(2)

  Country    UN  Population
1   India  Asia  1438069596
2   China  Asia  1422584933

In [30]:
merged_data = pd.merge(gdp_per_capita_data, population_data, on='Country', how='outer')
merged_data = merged_data.dropna(subset=['GDP_per_capita'])

merged_data.head(2)

         Country  GDP_per_capita      UN  Population
0         Monaco        240535.0  Europe     38956.0
1  Liechtenstein        197268.0  Europe     39598.0

In [31]:
merged_data["Population"].isna().sum()

10

In [32]:
print(merged_data.loc[merged_data['GDP_per_capita'].idxmax()], merged_data.loc[merged_data['Population'].idxmax()])

Country           Monaco
GDP_per_capita    240535
UN                Europe
Population         38956
Name: 0, dtype: object Country                 India
GDP_per_capita           2445
UN                       Asia
Population        1.43807e+09
Name: 169, dtype: object