---
title: "Quiz 13 solution"
format: 
  html:
    toc: true
    toc-title: Contents
    toc-depth: 4
    self-contained: true
    html-math-method: mathml 
jupyter: python3
---

# Read data

# Q 

Label each code cell with the corresponding question number as a header. Feel free to add or remove cells as needed

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

spotify_data_filtered = pd.read_csv("/Users/vaibhavrangan/Downloads/Stat_303-1/Data/spotify_data.csv")
spotify_data_filtered.groupby('genres').apply(lambda x: print(type(x)) or x.sort_values('artist_popularity', ascending=False))['artist_name']

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

genres
country  2204           Morgan Wallen
         3513           Morgan Wallen
         16251          Morgan Wallen
         16250          Morgan Wallen
         16249          Morgan Wallen
                          ...
rock     121667        Eikichi Yazawa
         121666        Eikichi Yazawa
         121665        Eikichi Yazawa
         121664        Eikichi Yazawa
         123372    Tsuyoshi Nagabuchi
Name: artist_name, Length: 243190, dtype: object

In [2]:
spotify_data = pd.read_csv("/Users/vaibhavrangan/Downloads/Stat_303-1/Data/spotify_data.csv")
audio_features = spotify_data[['danceability', 'energy', 'key', 'loudness','mode','speechiness',
                               'acousticness', 'instrumentalness', 'liveness','valence', 'tempo', 'time_signature']]
audio_features.apply(lambda x: print(type(x)) or (x-x.min())/(x.max()-x.min()))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,0.681174,0.529,0.000000,0.827905,1.0,0.315789,0.077209,0.000338,0.0856,0.203,0.665242,0.8
1,0.517206,0.566,0.545455,0.827843,0.0,0.206398,0.350402,0.000000,0.3400,0.218,0.344561,0.8
2,0.707490,0.687,0.636364,0.878561,0.0,0.109391,0.309237,0.000036,0.1210,0.499,0.365217,0.8
3,0.716599,0.690,0.181818,0.859987,1.0,0.045614,0.349398,0.000000,0.2220,0.543,0.328504,0.8
4,0.762146,0.597,0.727273,0.808405,1.0,0.301342,0.047892,0.000000,0.1970,0.616,0.316200,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...
243185,0.621457,0.298,0.272727,0.768637,0.0,0.055831,0.973896,0.646000,0.0514,0.772,0.502322,0.8
243186,0.797571,0.395,0.909091,0.721135,1.0,0.310630,0.885542,0.844000,0.1240,0.676,0.465432,0.8
243187,0.533401,0.178,0.272727,0.708867,1.0,0.081837,0.992972,0.000010,0.1040,0.370,0.431581,0.8
243188,0.565789,0.266,0.000000,0.787462,1.0,0.052838,0.992972,0.847000,0.4480,0.576,0.415918,0.8
243189,0.750000,0.284,0.272727,0.778018,1.0,0.052116,0.930723,0.078800,0.0633,0.816,0.434649,0.8

In [10]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita')
gdp_df = tables[0]

gdp_df.columns = gdp_df.columns.astype(str)
gdp_df.drop(columns=gdp_df.columns[gdp_df.columns.str.contains("Year")], inplace=True)

# print first two rows
gdp_df.head(2)

,0,1,2
0,.mw-parser-output .legend{page-break-inside:av...,"$20,000–$30,000 $10,000–$20,000 $5,000–$10,000...","$1,000–$2,500 $500–$1,000 <$500 No data"