---
title: "Quiz 6 code"
format: 
  html:
    toc: true
    toc-title: Contents
    toc-depth: 4
    self-contained: true
    html-math-method: mathml 
jupyter: python3
---

In [16]:
import pandas as pd
data = pd.read_csv('/Users/vaibhavrangan/Downloads/Stat_303-1/Data/gdpPerCapita.csv')

In [17]:
data.head()

,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
0,Afghanistan,779.445314,820.853030,853.100710,836.197138,739.981106,786.113360,978.011439,852.395945,649.341395,635.341351,726.734055,974.580338
1,Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
2,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
3,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
4,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640

# Solution

## Q1

In [18]:

# return the same output with an apply() function
data['range'] = data.loc[:, '1952':'2007'].apply(lambda x: x.max() - x.min(), axis=1)

print(data.loc[data['range'].idxmax()])
print(data.loc[data['range'].idxmin()])

country     Kuwait
1952        108382
1957        113523
1962       95458.1
1967       80894.9
1972        109348
1977       59265.5
1982         31354
1987       28118.4
1992       34932.9
1997       40300.6
2002       35110.1
2007         47307
range      85404.7
Name: 71, dtype: object
country    Burundi
1952       339.296
1957       379.565
1962       355.203
1967       412.978
1972         464.1
1977       556.103
1982       559.603
1987       621.819
1992         631.7
1997       463.115
2002       446.404
2007       430.071
range      292.403
Name: 17, dtype: object

## Q2

In [19]:
print(data.loc[:, '1952':'2007'].apply(lambda x: x.max() - x.min()).idxmax())
print(data.loc[:, '1952':'2007'].apply(lambda x: x.max() - x.min()).idxmin())

1957
1987